<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern" value="%t %d{hh:mm:ss} %c %M %p line %L -%m%n"/>
	    </layout>
	</appender>
	
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">				
		<param name="File" value="${log.dir}/bffLoad.log"/>
		<param name = "DatePattern" value=".yyyy-MM-dd"/>
		<param name="Append" value="true"/>	
		<layout class="org.apache.log4j.PatternLayout">
        		<param name="ConversionPattern" value="%d{ISO8601},%t,%-5p, %c{2} - %m%n"/>
	       </layout>
	</appender>	
	
	 <appender name="EMAIL"  class="org.apache.log4j.net.SMTPAppender">
	    <param name="BufferSize" value="512" />
     	<param name="SMTPHost" value="${smtp.host}" />
	    	<param name="From" value="${from.mail}" />
     		<param name="To" value="${to.mail}" />     		
	    	<param name="Subject" value="${mail.subject}" />
	    	<param name="Threshold" value="INFO" /> 	    	
    	<layout class="org.apache.log4j.PatternLayout">          
           <param name="ConversionPattern" value="[%d{ISO8601}]%n%n%c%n%n%m%n%n" />
        </layout>      
       <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>                             
    </appender>  
    
    <appender name="EMAILSUCCESS"  class="org.apache.log4j.net.SMTPAppender">
	    <param name="BufferSize" value="512" />
     	<param name="SMTPHost" value="${smtp.host}" />
	    	<param name="From" value="${from.mail}" />
     		<param name="To" value="${success.mail}" />     		
	    	<param name="Subject" value="${mail.subject}" />
	    	<param name="Threshold" value="INFO" /> 	    	
    	<layout class="org.apache.log4j.PatternLayout">          
           <param name="ConversionPattern" value="%n%m%n" />
        </layout>
       <filter class="org.apache.log4j.varia.StringMatchFilter">
          <param name="StringToMatch" value="used" />
          <param name="AcceptOnMatch" value="true"/>                            
       </filter>  
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="INFO"/>
        </filter>                             
    </appender>  
    
     <appender name="EMAILFAILURE"  class="org.apache.log4j.net.SMTPAppender">
	    <param name="BufferSize" value="512" />
     	<param name="SMTPHost" value="${smtp.host}" />
	    	<param name="From" value="${from.mail}" />
     		<param name="To" value="${failure.mail}" />     		
	    	<param name="Subject" value="${mail.subject}" />	    		    		    	
    	<layout class="org.apache.log4j.PatternLayout">           
           <param name="ConversionPattern" value="%n%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.StringMatchFilter">
           <param name="StringToMatch" value="failed" /> 
           <param name="AcceptOnMatch" value="true"/>
        </filter> 
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="INFO"/>
        </filter>                        
    </appender>       
     
    <logger name="com.cvs.caremark" additivity="false">
    <level value="DEBUG"/> 
     <appender-ref ref="FILE"/> 
     <appender-ref ref="CONSOLE"/>      
     <appender-ref ref="EMAILFAILURE"/> 
     <appender-ref ref="EMAILSUCCESS"/>  
     <appender-ref ref="EMAIL"/>   
    </logger>     
	  	    	
  	<root>
    	<priority value="WARN"/>
	    <appender-ref ref="FILE" />	 
  	</root>
</log4j:configuration>