<?xml version="1.0" encoding="UTF-8"?>

<!--
  - security configuration for the application.
  -
  - $Id: applicationContext-security-ns.xml 2818 2008-03-28 00:47:08Z benalex $
  --> 
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:security="http://www.springframework.org/schema/security"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:jee="http://www.springframework.org/schema/jee" 
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:cache="http://www.springmodules.org/schema/oscache" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee-2.5.xsd  
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
		http://www.springmodules.org/schema/oscache 
		http://www.springmodules.org/schema/cache/springmodules-oscache.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-2.0.xsd">
    
   	<!-- configuration for authentication -->
    <security:http auto-config="false" access-denied-page="/non_secure/page/loginMain.xhtml" lowercase-comparisons="false"  session-fixation-protection="none">  
        <security:intercept-url pattern="/secure/**/*.xhtml" access="ROLE_REBRCI_EDIT,ROLE_REBRCI_VIEW,ROLE_REBRCI_ADMIN,ROLE_REBRCI_ITADMIN" />
        <security:intercept-url pattern="/secure/**/*.faces" access="ROLE_REBRCI_EDIT,ROLE_REBRCI_VIEW,ROLE_REBRCI_ADMIN,ROLE_REBRCI_ITADMIN" />
        <!--  security:intercept-url pattern="/*.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/*.faces" access="IS_AUTHENTICATED_ANONYMOUSLY" />  -->
        <security:form-login login-page="/login.xhtml" 
        		authentication-failure-url="/non_secure/page/loginMain.xhtml?error=true" 
        		login-processing-url="/j_spring_security_check"/>  
        <security:logout />
        <security:http-basic />
    </security:http>
	<security:ldap-authentication-provider  	 
            server-ref="enterprise_ldap"
            group-role-attribute="${+ldapGroupRoleAttr}"
            group-search-filter="${+ldapGroupSearchFilter}" 
            group-search-base="${+ldapGroupSearchBase}"
            user-search-filter="${+ldapUserSearchFilter}"
            user-search-base="${+ldapUserSearchBase}">
	</security:ldap-authentication-provider>
	<!-- <security:ldap-server id="corp_ldap" url="${+ldapUrl}" root="${ldapRoot}" manager-dn="uid=SVCS-REBATE-Read,ou=service-accounts,ou=people,o=CVSCore,dc=cvs,dc=com" manager-password="svcsRebate1"/>  -->
	<bean id="enterprise_ldap"	class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
		<constructor-arg>
			<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.url" />
		</constructor-arg>
		<property name="userDn">
			<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.service.id" />
		</property>
		<property name="password">
			<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.service.password" />
		</property>
	</bean>
	<bean id="configurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="placeholderPrefix" value="${+" />
		<property name="properties">
			<bean class="java.util.Properties">
				<constructor-arg>
					<map>
		 				<entry key="ldapGroupRoleAttr">
		 					<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.group.role.attribute" /> 
		 				</entry>
			 			<entry key="ldapGroupSearchFilter">
			 				<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.group.search.filter" /> 
			 			</entry>
			 			<entry key="ldapGroupSearchBase">
			 				<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.group.search.base" /> 
			 			</entry>
			 			<entry key="ldapUserSearchFilter">
			 				<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.user.search.filter" /> 
			 			</entry>
			 			<entry key="ldapUserSearchBase">
			 				<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.user.search.base" /> 
			 			</entry>
			 		</map>
	 			</constructor-arg>
 			</bean>
		</property>
	</bean>
	<!-- environment constants -->
	<bean id="envConstants" class="com.cvs.caremark.rebates.rci.util.EnvironmentConstants">
		<property name="enetrPriseSelfServiceURL">
			<jee:jndi-lookup jndi-name="JNDI/apps/rebates/enterprise.self.service.password.url"/> 
		</property>
	</bean> 
</beans>
