<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

 	<!-- JPA support -->
 	<bean
        class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
 
 	<!-- entity manager factory -->
    <bean id="entityManagerFactory"  class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">     
     <property name="dataSource" ref="dataSource" />
	    <property name="jpaVendorAdapter">        
	    <bean        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">           
	    <property name="showSql" value="true" />          
	     <!-- <property name="generateDdl" value="true" />    -->       
	     <property name="databasePlatform" value="org.hibernate.dialect.DB2Dialect" />        
	     </bean>     
	     </property>  
     </bean>
 
 
    <!-- datasource referencing jndi  -->
      
  	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName">
            <value>jdbc/rebate_rci_ds</value>
        </property>
    </bean>  
  
    <!--  datasource for  database 
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName"><value>com.ibm.db2.jcc.DB2Driver</value></property>
		  <property name="url">
			<value>jdbc:db2://TSTUDB4:50006/GDXDEV</value>
		  </property>
		  <property name="username"><value>vactuate</value></property>
		  <property name="password"><value>mkcrosson</value></property>
    </bean> 
-->
 
     <!-- transaction manager -->
    <bean id="transactionManager"
        class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>    
    <!--  transaction annotation using transaction manager --> 
    <tx:annotation-driven transaction-manager="transactionManager" />
    
<!--     DAO's -->
    <bean id="periodDao" class="com.cvs.caremark.rebates.rci.dao.impl.PeriodDAOImpl" />
     <bean id="overrideRuleDao" class="com.cvs.caremark.rebates.rci.dao.impl.OverrideRuleDAOImpl" /> 
    <bean id="baseClaimDao" class="com.cvs.caremark.rebates.rci.dao.impl.BaseClaimDAOImpl" />
     <bean id="rebateIdDao" class="com.cvs.caremark.rebates.rci.dao.impl.RebateIdDAOImpl"/>
    <bean id="revalidateClaimDao" class="com.cvs.caremark.rebates.rci.dao.impl.RevalidatedClaimDaoImpl"/>
    <bean id="processOverrideDao" class="com.cvs.caremark.rebates.rci.dao.impl.ProcessOverrideRuleDAOImpl"/>
     <bean id="processControlDao" class="com.cvs.caremark.rebates.rci.dao.impl.ProcessControlDAOImpl"/>
  	<bean id="processControlDetailDao" class="com.cvs.caremark.rebates.rci.dao.impl.ProcessControlDetailDAOImpl"/>
 	<bean id="processControlCodeDao" class="com.cvs.caremark.rebates.rci.dao.impl.ProcessControlCodeDAOImpl"/>
     <bean id="batchControlDao" class="com.cvs.caremark.rebates.rci.dao.impl.BatchControlJPAImpl"/>
    <bean id="rebateCodeDao" class="com.cvs.caremark.rebates.rci.dao.impl.RebateCodeDAOImpl"/>
    <bean id="formularyDao" class="com.cvs.caremark.rebates.rci.dao.impl.FormularyDAOImpl"/>
    <bean id="snapshotDao" class="com.cvs.caremark.rebates.rci.dao.impl.SnapshotDAOImpl"/>
    <bean id="recnDstrHdrDao" class="com.cvs.caremark.rebates.rci.dao.impl.RecnDstrHdrDAOImpl"/>
     <bean id="snapHarvestDetailDao" class="com.cvs.caremark.rebates.rci.dao.impl.SnapHarvestDetailDAOImpl"/>
     <bean id="recnHdrDao" class="com.cvs.caremark.rebates.rci.dao.impl.RecnHdrDAOImpl"/>
    <bean id="clmPreviewDao" class="com.cvs.caremark.rebates.rci.dao.impl.ClaimPreviewDAOImpl"/>
	<bean id="rciUtilityDao" class="com.cvs.caremark.rebates.rci.dao.impl.RCIUtilityDAOImpl"/>

	
    
     <bean id="commonDAO" class="com.cvs.caremark.rebates.rci.dao.CommonDAO"/>
    
    
    
<!--     Services  -->
    <bean id="claimMaintenanceService" class="com.cvs.caremark.rebates.rci.service.impl.ClaimMaintenanceServiceImpl">
    	<property name="baseClaimDao" ref="baseClaimDao"/>
    	<property name="periodDAO" ref="periodDao"/>
     	<property name="processOverrideDao" ref="processOverrideDao"/> 
    	<property name="processControlDao" ref="processControlDao"/>
    	<property name="revalidatedClaimDao" ref="revalidateClaimDao"/>
    	<property name="processControlCodeDao" ref="processControlCodeDao"/>
    	
    	<property name="rebateCodeDao" ref="rebateCodeDao"/>
    	
    </bean>
    <bean id="periodMaintenanceService" 
    class="com.cvs.caremark.rebates.rci.service.impl.PeriodMaintenanceServiceImpl">
    	<property name="periodDao" ref="periodDao"/>
    	<property name="batchControlDao" ref="batchControlDao"/>
    	<property name="processControlDao" ref="processControlDao"/>
    	<property name="processOverrideRuleDao" ref="processOverrideDao"/>
    	<property name="rebateCodeDao" ref="rebateCodeDao"/>
    	<property name="processControlCodeDao" ref="processControlCodeDao"/>
    	<property name="snapshotDao" ref="snapshotDao"/>
    	<property name="recnDstrHdrDao" ref="recnDstrHdrDao"/>
    	<property name="snapHarvestDetailDao" ref="snapHarvestDetailDao"/>
    	<property name="recnHdrDao" ref="recnHdrDao"/>
    </bean>
    <bean id="processControlService" class="com.cvs.caremark.rebates.rci.service.impl.ProcessControlServiceImpl">
    	<property name="processControl" ref="processControlDao"/>
    </bean>
    <bean id="processControlDetailService" class="com.cvs.caremark.rebates.rci.service.impl.ProcessControlDetailServiceImpl">
    	<property name="processDetailDao" ref="processControlDetailDao"/>
    </bean>
    <bean id="processControlCodeService" class="com.cvs.caremark.rebates.rci.service.impl.ProcessControlCodeServiceImpl">
    	<property name="processCodeDao" ref="processControlCodeDao"/>
    </bean>
    
    <bean id="ruleMaintenanceService" class="com.cvs.caremark.rebates.rci.service.impl.RuleMaintenanceServiceImpl">
    	<property name="overrideRuleDao" ref="overrideRuleDao"/>
    	<property name="rebateIdDao" ref="rebateIdDao" />    	
    </bean>
     <bean id="rebateCodeService" class="com.cvs.caremark.rebates.rci.service.impl.RebateCodeServiceImpl">
     	<property name="rebateCodeDao" ref="rebateCodeDao"/>
    	</bean> 
    	<bean id="rebateIdService" class="com.cvs.caremark.rebates.rci.service.impl.RebateIdServiceImpl"> 
 		<property name="rebateIdDao" ref="rebateIdDao" /> 
 		<property name="formularyDao" ref="formularyDao" /> 
    	</bean> 
   	<bean id="utilityService" class="com.cvs.caremark.rebates.rci.service.impl.RCIUtilityServiceImpl">
    	<property name="utilityDao" ref="rciUtilityDao"/>
 	</bean>
	<bean id="clmPreviewService" class="com.cvs.caremark.rebates.rci.service.impl.ClaimPreviewServiceImpl">
    	<property name="utilityDao" ref="rciUtilityDao"/>
    	<property name="claimPreviewDAO" ref="clmPreviewDao" />    	
	</bean>
   	
   	
   	<!-- ITPR001971 -->
   	<bean id="authorizationBean"
		class="com.cvs.caremark.rebates.rci.web.controller.AuthorizationBean"
		scope="session">
		<property name="navigationBean" ref="navigationBean" />
		<property name="commonDAO" ref="commonDAO" />
		<property name="selectedIncludePathUnauthorised">
			<value>/secure/content/splashUnauthorized.xhtml</value>
		</property>
		<property name="selectedAuthorizedTemplate">
			<value>page-template.xhtml</value>
		</property>
		<property name="selectedUnAuthorizedTemplate">
			<value>unauthorized-page-template.xhtml</value>
		</property>
	</bean>
	<!-- End -->
	
	<bean id="navigationBean" class="com.cvs.caremark.rebates.web.controller.NavigationBean" scope="session" >
	 	<property name="appDisplayName"><value>RCI Manager</value></property>
	 	<property name="selectedIncludePath"><value>/secure/content/splash.xhtml</value></property>
		<property name="homeLink">			
			<bean class="com.cvs.caremark.rebates.web.helper.Link">
				<property name="pageId"><value>process_control</value></property>
				<property name="contentUrl"><value>/secure/content/splash.xhtml</value></property>
				<property name="rootMenu"><value>home</value></property>
				<property name="linkDisplay"><value>Home</value></property>	                                     
			</bean>	
		</property>
		<property name="linkMap">
	        <map>	           
	            <entry key="error">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	             		<property name="pageId"><value>error</value></property>
						<property name="contentUrl"><value>/non_secure/content/error_content.xhtml</value></property>
						<property name="rootMenu"><value>error</value></property>
						<property name="linkDisplay"><value>Error</value></property>
	                                     
					</bean>
	   			</entry>
	            <entry key="home">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>home</value></property>
						<property name="contentUrl"><value>/secure/content/splash.xhtml</value></property>
						<property name="rootMenu"><value>home</value></property>
						<property name="linkDisplay"><value>Home</value></property>	                                    
					</bean>
	            </entry>		 
	            <entry key="avail_period">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>period_maint</value></property>
						<property name="contentUrl"><value>/secure/content/available-period-maint.xhtml</value></property>
						<property name="rootMenu"><value>Period</value></property>
						<property name="linkDisplay"><value>Available Period Maintenance</value></property>	                                    
					</bean>
	            </entry>
	            <entry key="batch_maint">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>period_maint</value></property>
						<property name="contentUrl"><value>/secure/content/batch-assignment-summary.xhtml</value></property>
						<property name="rootMenu"><value>Period</value></property>
						<property name="linkDisplay"><value>Batch Assignment Summary</value></property>	                                    
					</bean>
	            </entry>
	            <entry key="lock_maint">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>period_maint</value></property>
						<property name="contentUrl"><value>/secure/content/lock_maintenance.xhtml</value></property>
						<property name="rootMenu"><value>Period</value></property>
						<property name="linkDisplay"><value>Lock Maintenance</value></property>	                                    
					</bean>
	            </entry>
	            <entry key="override_summ">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>rule_maint</value></property>
						<property name="contentUrl"><value>/secure/content/override-rule-summary.xhtml</value></property>
						<property name="rootMenu"><value>Overrides</value></property>
						<property name="linkDisplay"><value>Override Summary</value></property>	                                    
					</bean>
	            </entry>
	            <entry key="override_new">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>new_rule</value></property>
						<property name="contentUrl"><value>/secure/content/override-rule-edit.xhtml</value></property>
						<property name="rootMenu"><value>Overrides</value></property>
						<property name="linkDisplay"><value>Rule Maintenance</value></property>	                                    
					</bean>
	            </entry> 
	            <entry key="override_edit">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>edit_rule</value></property>
						<property name="contentUrl"><value>/secure/content/override-rule-edit.xhtml</value></property>
						<property name="rootMenu"><value>Overrides</value></property>
						<property name="linkDisplay"><value>Edit Rule</value></property>	                                    
					</bean>
	            </entry> 
				<entry key="update_place">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>claim_maint</value></property>
						<property name="contentUrl"><value>/secure/content/update_in_place.xhtml</value></property>
						<property name="rootMenu"><value>Claims</value></property>
						<property name="linkDisplay"><value>Update In-Place</value></property>	                                    
					</bean>
	            </entry>	      
	            <entry key="apc_status">
	            	<bean class="com.cvs.caremark.rebates.web.helper.Link">
	            		<property name="pageId"><value>apc_status</value></property>
	            		<property name="contentUrl"><value>/secure/content/apc-status.xhtml</value></property>
	            		<property name="rootMenu"><value>Process</value></property>
	            		<property name="linkDisplay"><value>APC Status</value></property>
	            	</bean>
	            </entry>           		        
				<entry key="prcs_cntl">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>process_control</value></property>
						<property name="contentUrl"><value>/secure/content/process-control.xhtml</value></property>
						<property name="rootMenu"><value>Process</value></property>
						<property name="linkDisplay"><value>Process Control</value></property>	                                    
					</bean>
	            </entry>	
	            <entry key="prcs_cntl_dtl">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>process_control_detail</value></property>
						<property name="contentUrl"><value>/secure/content/process-Detail.xhtml</value></property>
						<property name="rootMenu"><value>ProcessDetail</value></property>
						<property name="linkDisplay"><value>Process Control Detail</value></property>	                                    
					</bean>
	            </entry>	
	            <entry key="claim_preview">
    				<bean class="com.cvs.caremark.rebates.web.helper.Link">
    					<property name="pageId"><value>period_maint</value></property>
    					<property name="contentUrl"><value>/secure/content/claim_preview.xhtml</value></property>
      					<property name="rootMenu"><value>Period</value></property>
						<property name="linkDisplay"><value>Claim Preview</value></property>	                                    
					</bean>
				</entry>           
	   		</map>
	   </property>	
	</bean>     
</beans>