<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:jee="http://www.springframework.org/schema/jee" 
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:cache="http://www.springmodules.org/schema/oscache" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		   http://www.springframework.org/schema/jee 
           http://www.springframework.org/schema/jee/spring-jee-3.1.xsd  
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
           http://www.springmodules.org/schema/oscache 
           http://www.springmodules.org/schema/cache/springmodules-oscache.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">	                            

<!-- entries started for ITPR004674 -Defect-1599 (Requirement (7.1)) multiple login
 added default page as login and set to always go there-->
 	<!-- ITPR001971 - Included authentication-success-handler into the code -->
 	
 	<bean id="entryPoint"
		class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint" />
		
 	
     <security:http   use-expressions="true" auto-config="false" access-denied-page="/non_secure/page/loginMain.xhtml"
      entry-point-ref="entryPoint">  
     
     <security:custom-filter  position="PRE_AUTH_FILTER" ref="siteminderFilter" />
     
     <security:expression-handler ref="regSecurityExpressionHandler" />
            <security:intercept-url pattern="/secure/**/*.xhtml" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')" />
            <security:intercept-url pattern="/secure/**/*.faces" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>
       <!--  <security:intercept-url pattern="/secure/*.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/secure/*.faces" access="IS_AUTHENTICATED_ANONYMOUSLY" />  -->
        <security:intercept-url pattern="/non_secure/*.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/non_secure/*.faces" access="IS_AUTHENTICATED_ANONYMOUSLY" />  
        
        <security:logout />
        <security:http-basic />     
	</security:http> 
	<!-- End --> 
<!-- entries stopped for ITPR004674 -Defect-1599 (Requirement (7.1)) multiple login-->	
	
        
 	<!-- global security filter to allow only certain roles to access these methods-->
    <security:global-method-security>
    	<security:expression-handler ref="regSecurityExpressionHandler"/>
   		<security:protect-pointcut expression="execution(* *.dao.impl.*insert*(..))" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>
    	<security:protect-pointcut expression="execution(* *.dao.impl.*update*(..))" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>
    	<security:protect-pointcut expression="execution(* *.dao.impl.*add*(..))" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>
    	<security:protect-pointcut expression="execution(* *.dao.impl.*delete*(..))" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>
    	<security:protect-pointcut expression="execution(* *.dao.impl.*remove*(..))" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>
    	<security:protect-pointcut expression="execution(* *.dao.impl.*change*(..))" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>
    	<security:protect-pointcut expression="execution(* *.dao.impl.*merge*(..))" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>
    	<security:protect-pointcut expression="execution(* *.dao.impl.*copy*(..))" access="hasSecurityRole('ROLE_REBCASH_CM,ROLE_REBCASH_MG,ROLE_REBCASH_AN,ROLE_REBCASH_RO,ROLE_REBCASH_DIR,ROLE_REBCASH_VP,ROLE_REBCASH_SVP')"/>    	
	</security:global-method-security> 
<!-- entries started for ITPR004674 -Defect-1599 (Requirement (7.1)) multiple login added person class to get user first and last name-->   

	 
    
	<bean id="siteminderFilter"	 class="org.springframework.security.web.authentication.preauth.RequestHeaderAuthenticationFilter">
        <property name="principalRequestHeader" value="SM_USERLDAP"/>
        <property name="authenticationManager" ref="authenticationManager" />
	</bean>
	
	<bean id="preauthAuthProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
        <property name="preAuthenticatedUserDetailsService"	 ref="userDetailsServiceWrapper" />
    </bean>
    
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="preauthAuthProvider" />
    </security:authentication-manager>    
    
	<bean id="userDetailsServiceWrapper" class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
		<property name="userDetailsService" ref="ldapUserDetailsService"></property>
	</bean>
    


<!-- entries stooped for ITPR004674 -Defect-1599 (Requirement (7.1)) multiple login-->   		 
<!-- 	<security:ldap-server id="enterprise_ldap" url="${+ldapUrl}" manager-dn="uid=SVCS-REBATE-Read,ou=service-accounts,ou=people,o=CVSCore,dc=cvs,dc=com" manager-password="svcsRebate1"/>  -->      
   
   <security:ldap-user-service id="ldapUserDetailsService" 
		server-ref="enterprise_ldap"
	    group-role-attribute="${+ldapGroupRoleAttr}"
	    group-search-filter="${+ldapGroupSearchFilter}" 
	    group-search-base="${+ldapGroupSearchBase}"
	    user-search-filter="${+ldapUserSearchFilter}"
	    user-search-base="${+ldapUserSearchBase}"
	    user-details-class="person"  />
   <bean id="enterprise_ldap"	class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
		<constructor-arg>
			<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.url" />
		</constructor-arg>
		<property name="userDn">
			<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.service.id" />
		</property>
		<property name="password">
			<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.service.password" />
		</property>
	</bean>
  <bean id="regSecurityExpressionHandler" class="com.cvs.caremark.rebates.util.RebSecurityExpressionHandler">
  	<property name="appRoleName" value="ROLE_REBCASH"/>
  </bean>
  

   
   	<bean id="configurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
   		<property name="placeholderPrefix" value="${+"/>
		<property name="properties">
			<bean class="java.util.Properties">
				<constructor-arg>
					<map>
						<entry key="ldapGroupRoleAttr">
							<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.group.role.attribute" />
						</entry>
						<entry key="ldapGroupSearchFilter">
							<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.group.search.filter" />
						</entry>
						<entry key="ldapGroupSearchBase">
							<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.group.search.base" />
						</entry>
						<entry key="ldapUserSearchFilter">
							<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.user.search.filter" />
						</entry>	
						<entry key="ldapUserSearchBase">
							<jee:jndi-lookup jndi-name="JNDI/apps/rebates/rebate.ldap.user.search.base" />
						</entry>
					</map>
				</constructor-arg>
			</bean>
		</property>
	</bean>
   
</beans>
