<?xml version="1.0" encoding="UTF-8"?>
<!--**********************************************************************************************-->
<!--**********************************************************************************************-->
<!--                               C H A N G E   L O G                                            -->
<!--**********************************************************************************************-->
<!-- change            proj/prob                                                				  -->
<!--  date   developer  number    enhancement description                          				  -->
<!-- *********************************************************************************************-->
<!-- 03/19/10 is31701   CaRe 2010 Added entries for recnHdrDAo and recnHdrService				  -->
<!-- 06/18/10 is31701   CaRe 2010 Added recnActnStatService to rbatRecnSummaryBean 				  -->	
<!-- 06/24/10 is31701   CaRe 2010 Added recnAprvHdrService  to rbatRecnSummaryBean 				  -->	
<!-- 06/30/10 is31701   CaRe 2010 Added recnAprvDtlService  to rbatRecnSummaryBean 				  -->
<!-- 07/21/10 is31701   CaRe 2010 Added recnInvService  	to rbatRecnSummaryBean 				  -->	
<!-- 08/06/10 is31701   CaRe 2010 Added recnDstrHdrService  to rbatRecnSummaryBean 				  -->
<!--**********************************************************************************************-->

<!-- Spring configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-2.5.xsd">

 	<!-- JPA support -->
 	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
 
 	<!-- entity manager factory -->
    <bean id="entityManagerFactory"  class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">     
    	<property name="dataSource" ref="dataSource" />
	    <property name="jpaVendorAdapter">        
	    	<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">           
	    		<property name="showSql" value="true" />                 
	    		<property name="databasePlatform" value="org.hibernate.dialect.DB2Dialect" /> 
			</bean>     
		</property>  
	</bean>
     
    <!-- datasource referencing jndi -->
     
  	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName">
            <value>jdbc/rebate_rci_ds</value>
        </property>
    </bean>  
<!-- entries started for ITPR004674 -Defect-1599 (Requirement (7.1)) multiple login-->   
   <util:map id="roleDisplayMap" map-class="java.util.HashMap" >
	   <entry key="RO" value="Read Only" />
	   <entry key="CM" value="Cash Manager" />
	   <entry key="MG" value="Manager" />
	   <entry key="AN" value="Analyst" />
	   <entry key="DIR" value="Director" />
	   <entry key="VP" value="VP" />
	   <entry key="SVP" value="SVP" />
	</util:map>
    
    <!-- transaction manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <!-- ITPR001971 - Entry to incorporate database level authentication for the application -->
    <bean id="dbAuthenticationHandler" class="com.cvs.caremark.rebates.cash.util.DBAuthenticationHandler">
    	<property name="userService" ref ="userService"/>
    </bean>
    
    <!--  End -->
    
    <!--  transaction annotation using transaction manager --> 
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    
	
	<!-- BEGIN DAOs.  ALL DAOs must be registered here -->
	<bean id="coGlAcctDAO" class="com.cvs.caremark.rebates.cash.dao.impl.CoGlAcctDAOJpaImpl" />
	<bean id="rbatMfgPmtDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatMfgPmtDAOJpaImpl" />	
	<bean id="vndrRebtCdDAO" class="com.cvs.caremark.rebates.cash.dao.impl.VndrRebtCdDAOJpaImpl" />	
	<bean id="rbatPayrDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatPayrDAOJpaImpl" />
	<bean id="discntPeriodDAO" class="com.cvs.caremark.rebates.cash.dao.impl.DiscntPeriodDAOJpaImpl" />
	<bean id="rbatMfgPmtApplDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatMfgPmtApplDAOJpaImpl" />
	<bean id="modelCoBeAsscDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ModelCoBeAsscDAOJpaImpl" />
	<bean id="rbatGlTxnRqstDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatGlTxnRqstDAOJpaImpl" />
	<bean id="rbatGlTxnRqstDtlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatGlTxnRqstDtlDAOJpaImpl" />
	<bean id="rbatMfgInvHdrDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatMfgInvHdrDAOJpaImpl" />
	<bean id="rbatMfgInvHdrDefaultsDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatMfgInvHdrDefaultsDAOJpaImpl" />
	<bean id="rbatMfgInvReportDtlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatMfgInvReportDtlDAOJpaImpl" />
	<bean id="rbatMfgInvDtlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RbatMfgInvDtlDAOJpaImpl" />
	<bean id="tvndrDAO" class="com.cvs.caremark.rebates.cash.dao.impl.TvndrDAOJpaImpl" />
	<bean id="trptPriorityDAO" class="com.cvs.caremark.rebates.cash.dao.impl.Trpt_priorityDAOJpaImpl" />
	<bean id="snapInvDtlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.SnapInvDtlDAOJpaImpl" />
	<bean id="coBeInvLogoAsscDAO" class="com.cvs.caremark.rebates.cash.dao.impl.CoBeInvLogoAsscJpaImpl" />
	<bean id="coBeRemitMthdAsscDAO" class="com.cvs.caremark.rebates.cash.dao.impl.CoBeRemitMthdAsscJpaImpl" />
	<bean id="snapLockDAO" class="com.cvs.caremark.rebates.cash.dao.impl.SnapLockDAOJpaImpl" />
	<!--  is31701 - added for Cash Recon 4-->
	<bean id="recnHdrDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnHdrDAOJpaImpl" />
	
	<bean id="scrubDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ScrubDAOJpaImpl" />
	<bean id="recnBffAsscDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnBffAsscDAOJpaImpl" />
	<bean id="recnBffApplDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnBffApplDAOJpaImpl" />
	<bean id="colMtchSpecDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ColMtchSpecDAOJpaImpl" />
	<bean id="bffHdrDAO" class="com.cvs.caremark.rebates.cash.dao.impl.BffHdrDAOJpaImpl" />
	<bean id="bffDefDAO" class="com.cvs.caremark.rebates.cash.dao.impl.BffDefDAOJpaImpl" />
	
	<bean id="processControlCodeDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ProcessControlCodeDAOImpl" />
	<bean id="processControlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ProcessControlDAOImpl" />
	<bean id="processControlDetailDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ProcessControlDetailDAOImpl" />
	
	<bean id="matchDAO" class="com.cvs.caremark.rebates.cash.dao.impl.MatchDAOJpaImpl"/>
	<bean id="recnActnStatDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnActnStatDAOJpaImpl"/>
	<bean id="inclExclRuleDAO" class="com.cvs.caremark.rebates.cash.dao.impl.InclExclRuleDAOImpl"/>
	<bean id="recnAprvHdrDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnAprvHdrDAOJpaImpl"/>
	<bean id="recnDstrHdrDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnDstrHdrDAOJpaImpl"/>
	<bean id="recnAprvDtlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnAprvDtlDAOJpaImpl"/>
	<bean id="recnInvDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnInvDAOJpaImpl"/>
	
	<bean id="dimensionFilterControlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.DimensionFilterControlDAOJpaImpl"/>
	<bean id="extnClmDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ExtnClmDAOJpaImpl"/>
	<bean id="lazyTableDAO" class="com.cvs.caremark.rebates.cash.dao.impl.LazyTableDAOJpaImpl"/>
	<bean id="recnMtchScrbMetricsDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnMtchScrbMetricsDAOJpaImpl"/>
	<bean id="recnDsptDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnDsptDAOJpaImpl"/>
	<bean id="recnVarReasDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnVarReasDAOJpaImpl"/>
	<bean id="recnDstrSummDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnDstrSummDAOJpaImpl"/>
	
	<bean id="recnDstrReasAsscDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnDstrReasAsscDAOJpaImpl"/>	
	<bean id="recnClmAsscDAO"    class="com.cvs.caremark.rebates.cash.dao.impl.RecnClmAsscDAOJpaImpl"/>
	<bean id="extnClmAudtDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ExtnClmAudtDAOJpaImpl"/>
	<bean id="recnGlDstrDtlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnGlDstrDtlDAOJpaImpl"/>
	<bean id="recnPmtDstrDtlDAO" class="com.cvs.caremark.rebates.cash.dao.impl.RecnPmtDstrDtlDAOJpaImpl"/>
	
	<bean id="extnClmWrkDAO" class="com.cvs.caremark.rebates.cash.dao.impl.ExtnClmWrkDAOJpaImpl"/>
	<!-- Spring security changes -->
	<bean id="CorporateFilterJPADAO" class="com.cvs.caremark.rebates.cash.dao.impl.CorporateFilterJPADAOImpl"/>
	
	<!-- ITPR001971- BI - Re-engineering  -->
	<bean id="userDAO" class="com.cvs.caremark.rebates.cash.dao.impl.UserDAOJpaImpl" />
	
	<bean id="userVendorEntityDAO" class="com.cvs.caremark.rebates.cash.dao.impl.UserVendorEntityDAOJpaImpl" />

 	<!-- BEGIN services.  ALL Services must be registered here -->

 	<bean id="recnMtchScrbMetricsService" class="com.cvs.caremark.rebates.cash.service.impl.RecnMtchScrbMetricsServiceImpl">
 		<property name="recnMtchScrbMetricsDAO" ref="recnMtchScrbMetricsDAO"/>
 	</bean>
 	
     <bean id="lazyTableService" class="com.cvs.caremark.rebates.cash.service.impl.LazyTableServiceImpl" >
		<property name="lazyTableDAO" ref="lazyTableDAO"/>
		<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
		
	</bean>
		
    <bean id="inclExclRuleService" class="com.cvs.caremark.rebates.cash.service.impl.InclExclRuleServiceImpl" >
		<property name="inclExclRuleDAO" ref="inclExclRuleDAO"/>
	</bean>
   	
   	<bean id="matchService" class="com.cvs.caremark.rebates.cash.service.impl.MatchServiceImpl" >
		<property name="matchDAO" ref="matchDAO"/>
		<property name="bffHdrDAO" ref="bffHdrDAO"/>
		<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
		<property name="recnMtchScrbMetricsDAO" ref="recnMtchScrbMetricsDAO"/>
		<property name="inclExclRuleDAO" ref="inclExclRuleDAO"/>
		<property name="recnBffApplDAO" ref="recnBffApplDAO"/>
		<property name="extnClmWrkDAO" ref="extnClmWrkDAO"/>
		<property name="recnHdrDAO" ref="recnHdrDAO"/>
		<property name="extnClmDAO" ref="extnClmDAO"/>
		<property name="recnActnStatDAO" ref="recnActnStatDAO"/>
	</bean>
	
  	<bean id="scrubService" class="com.cvs.caremark.rebates.cash.service.impl.ScrubServiceImpl" >
		<property name="scrubDAO" ref="scrubDAO"/>
		<property name="bffHdrDAO" ref="bffHdrDAO"/>
		<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
		<property name="inclExclRuleDAO" ref="inclExclRuleDAO"/>
		<property name="recnMtchScrbMetricsDAO" ref="recnMtchScrbMetricsDAO"/>
		<property name="recnBffApplDAO" ref="recnBffApplDAO"/>
		<property name="extnClmWrkDAO" ref="extnClmWrkDAO"/>
		<property name="recnHdrDAO" ref="recnHdrDAO"/>
		<property name="extnClmDAO" ref="extnClmDAO"/>
		<property name="recnActnStatDAO" ref="recnActnStatDAO"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>
 	
 	<bean id="bffHdrService" class="com.cvs.caremark.rebates.cash.service.impl.BffHdrServiceImpl" >
		<property name="bffHdrDAO" ref="bffHdrDAO"/>
		<property name="bffDefDAO" ref="bffDefDAO"/>
		<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
		<property name="inclExclRuleDAO" ref="inclExclRuleDAO"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>		
  	
   	<bean id="processControlService" class="com.cvs.caremark.rebates.cash.service.impl.ProcessControlServiceImpl" >
		<property name="processControlDAO" ref="processControlDAO"/>
	</bean>
	
	<bean id="processControlCodeService" class="com.cvs.caremark.rebates.cash.service.impl.ProcessControlCodeServiceImpl" >
		<property name="processControlCodeDAO" ref="processControlCodeDAO"/>
	</bean>
	
	<bean id="processControlDetailService" class="com.cvs.caremark.rebates.cash.service.impl.ProcessControlDetailServiceImpl" >
		<property name="processControlDetailDAO" ref="processControlDetailDAO"/>
	</bean>	
	
 	<bean id="colMtchSpecService" class="com.cvs.caremark.rebates.cash.service.impl.ColMtchSpecServiceImpl" >
		<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
	</bean>	

 	<bean id="recnBffApplService" class="com.cvs.caremark.rebates.cash.service.impl.RecnBffApplServiceImpl" >
		<property name="recnBffApplDAO" ref="recnBffApplDAO"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>
	
 	<bean id="recnBffAsscService" class="com.cvs.caremark.rebates.cash.service.impl.RecnBffAsscServiceImpl" >
		<property name="recnBffAsscDAO" ref="recnBffAsscDAO"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>
	
	<bean id="coBeInvLogoAsscService" class="com.cvs.caremark.rebates.cash.service.impl.CoBeInvLogoAsscServiceImpl" >
		<property name="coBeInvLogoAsscDAO" ref="coBeInvLogoAsscDAO"/>
	</bean>	
	
	<bean id="coBeRemitMthdAssocService" class="com.cvs.caremark.rebates.cash.service.impl.CoBeRemitMthdAssocServiceImpl" >
		<property name="coBeRemitMthdAsscDAO" ref="coBeRemitMthdAsscDAO"/>
	</bean>	
	
	<bean id="modelCoBeAsscService" class="com.cvs.caremark.rebates.cash.service.impl.ModelCoBeAsscServiceImpl" >
		<property name="modelCoBeAsscDAO" ref="modelCoBeAsscDAO"/>
	</bean>
	
	<bean id="rbatMfgPmtApplService" class="com.cvs.caremark.rebates.cash.service.impl.RbatMfgPmtApplServiceImpl" >
		<property name="rbatMfgPmtApplDAO" ref="rbatMfgPmtApplDAO"/>
	</bean>
	
	<bean id="rbatMfgPmtService" class="com.cvs.caremark.rebates.cash.service.impl.RbatMfgPmtServiceImpl" >	
		<property name="rbatMfgPmtDAO" ref="rbatMfgPmtDAO"/>
		
		<!-- Added for BSR 51460 - Start Change -->
		<property name="rbatMfgPmtApplDAO" ref="rbatMfgPmtApplDAO"/>
		<property name="transactionManager" ref="transactionManager"/>
		<!-- Added for BSR 51460 - End Change -->
	</bean>	
	
	<bean id="vndrRebtCdService" class="com.cvs.caremark.rebates.cash.service.impl.VndrRebtCdServiceImpl" >	
		<property name="vndrRebtCdDAO" ref="vndrRebtCdDAO"/>
	</bean>	
	
	<bean id="rbatPayrService" class="com.cvs.caremark.rebates.cash.service.impl.RbatPayrServiceImpl" >
		<property name="rbatPayrDAO" ref="rbatPayrDAO"/>
	</bean>
	
	<bean id="discntPeriodService" class="com.cvs.caremark.rebates.cash.service.impl.DiscntPeriodServiceImpl">
		<property name="discntPeriodDAO" ref="discntPeriodDAO"/>
	</bean>
	
	<bean id="coGlAcctService" class="com.cvs.caremark.rebates.cash.service.impl.CoGlAcctServiceImpl">
		<property name="coGlAcctDAO" ref="coGlAcctDAO"/>
	</bean>
 	
	<bean id="rbatGlTxnRqstService" class="com.cvs.caremark.rebates.cash.service.impl.RbatGlTxnRqstServiceImpl">
		<property name="rbatGlTxnRqstDAO" ref="rbatGlTxnRqstDAO"/>
		<property name="rbatGlTxnRqstDtlDAO" ref="rbatGlTxnRqstDtlDAO"/>
		<property name="discntPeriodDAO" ref="discntPeriodDAO"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>
	
	<bean id="rbatGlTxnRqstDtlService" class="com.cvs.caremark.rebates.cash.service.impl.RbatGlTxnRqstDtlServiceImpl">
		<property name="rbatGlTxnRqstDtlDAO" ref="rbatGlTxnRqstDtlDAO"/>
	</bean>
	
	<bean id="rbatMfgInvHdrService" class="com.cvs.caremark.rebates.cash.service.impl.RbatMfgInvHdrServiceImpl">
		<property name="rbatMfgInvHdrDAO" ref="rbatMfgInvHdrDAO"/>
		<property name="rbatMfgInvHdrDefaultsDAO" ref="rbatMfgInvHdrDefaultsDAO"/>
		<property name="rbatMfgInvReportDtlDAO" ref="rbatMfgInvReportDtlDAO"/>
		<property name="rbatMfgInvDtlDAO" ref="rbatMfgInvDtlDAO"/>
		<property name="transactionManager" ref="transactionManager"/>
		<property name="discntPeriodDAO" ref="discntPeriodDAO"/>
		<property name="snapInvDtlDAO" ref="snapInvDtlDAO"/>
		<property name="recnHdrDAO" ref="recnHdrDAO"/>
		<property name="recnDstrHdrDAO" ref="recnDstrHdrDAO"/>
		<property name="tvndrDAO" ref="tvndrDAO"/>
		<property name="trptPriorityService" ref="trptPriorityService"/>
		<property name="vndrRebtCdService" ref="vndrRebtCdService"/>
	</bean>

	<bean id="tvndrService" class="com.cvs.caremark.rebates.cash.service.impl.TvndrServiceImpl">
		<property name="tvndrDAO" ref="tvndrDAO"/>
	</bean>
 
	<bean id="trptPriorityService" class="com.cvs.caremark.rebates.cash.service.impl.Trpt_priorityServiceImpl">
		<property name="trptPriorityDAO" ref="trptPriorityDAO"/>
	</bean>

	<bean id="snapLockService" class="com.cvs.caremark.rebates.cash.service.impl.SnapLockServiceImpl">
		<property name="snapLockDAO" ref="snapLockDAO"/>
	</bean>
	
	<bean id="rbatMfgInvDtlService" class="com.cvs.caremark.rebates.cash.service.impl.RbatMfgInvDtlServiceImpl">
		<property name="rbatMfgInvDtlDAO" ref="rbatMfgInvDtlDAO"/>
		<property name="discntPeriodDAO" ref="discntPeriodDAO"/>
		<property name="vndrRebtCdDAO" ref="vndrRebtCdDAO"/>
	</bean>

	<bean id="snapInvDtlService" class="com.cvs.caremark.rebates.cash.service.impl.SnapInvDtlServiceImpl">
		<property name="snapInvDtlDAO" ref="snapInvDtlDAO"/>
	</bean>
	
	<!--  is31701 - added for Cash Recon 4-->

	<bean id="recnHdrService" class="com.cvs.caremark.rebates.cash.service.impl.RecnHdrServiceImpl">
		<property name="recnHdrDAO" ref="recnHdrDAO"/>
		<property name="snapInvDtlDAO" ref="snapInvDtlDAO"/>
		<property name="rbatMfgInvHdrDAO" ref="rbatMfgInvHdrDAO"/>
	    <property name="recnActnStatDAO" ref="recnActnStatDAO"/>
	    <property name="recnBffApplDAO" ref="recnBffApplDAO"/>
	    <property name="recnDstrHdrDAO" ref="recnDstrHdrDAO"/>
	    <property name="extnClmDAO" ref="extnClmDAO"/>
	    <property name="extnClmAudtDAO" ref="extnClmAudtDAO"/>
	    <property name="recnMtchScrbMetricsDAO" ref="recnMtchScrbMetricsDAO"/>
        <property name="recnPmtDstrDtlDAO" ref="recnPmtDstrDtlDAO"/>
	    <property name="recnGlDstrDtlDAO" ref="recnGlDstrDtlDAO"/>
	    <property name="recnDstrReasAsscDAO" ref="recnDstrReasAsscDAO"/>
	    <property name="recnDstrSummDAO" ref="recnDstrSummDAO"/>
	    <property name="recnAprvDtlDAO" ref="recnAprvDtlDAO"/>
		<property name="transactionManager" ref="transactionManager"/>
        <property name="inclExclRuleDAO" ref="inclExclRuleDAO"/>
        <property name="recnVarReasDAO" ref="recnVarReasDAO"/>
		<property name="recnDsptDAO" ref="recnDsptDAO"/>
        <property name="recnClmAsscDAO" ref="recnClmAsscDAO"/>
	</bean>
	
	<bean id="recnActnStatService" class="com.cvs.caremark.rebates.cash.service.impl.RecnActnStatServiceImpl">	
		<property name="recnActnStatDAO" ref="recnActnStatDAO"/>
	</bean>
	
	<bean id="recnDstrHdrService" class="com.cvs.caremark.rebates.cash.service.impl.RecnDstrHdrServiceImpl">	
		<property name="recnDstrHdrDAO" ref="recnDstrHdrDAO"/>
		<property name="recnAprvDtlDAO" ref="recnAprvDtlDAO"/>
		<property name="inclExclRuleDAO" ref="inclExclRuleDAO"/>
		<property name="recnDstrSummDAO" ref="recnDstrSummDAO"/>
		<property name="recnDstrReasAsscDAO" ref="recnDstrReasAsscDAO"/>
		<property name="extnClmDAO" ref="extnClmDAO"/>
		<property name="recnActnStatDAO" ref="recnActnStatDAO"/>
		<property name="recnHdrDAO" ref="recnHdrDAO"/>	
		<property name="rbatMfgInvHdrDAO" ref="rbatMfgInvHdrDAO"/>		
		<property name="snapInvDtlDAO" ref="snapInvDtlDAO"/>
		<property name="bffHdrDAO" ref="bffHdrDAO"/>
		<property name="scrubService" ref="scrubService"/>
		<property name="matchService" ref="matchService"/>
		<property name="extnClmWrkDAO" ref="extnClmWrkDAO"/>
	</bean>
	
	<bean id="recnAprvHdrService" class="com.cvs.caremark.rebates.cash.service.impl.RecnAprvHdrServiceImpl">	
		<property name="recnAprvHdrDAO" ref="recnAprvHdrDAO"/>
	</bean>
	
	<bean id="recnAprvDtlService" class="com.cvs.caremark.rebates.cash.service.impl.RecnAprvDtlServiceImpl">	
		<property name="recnAprvDtlDAO" ref="recnAprvDtlDAO"/>
	</bean>
	
	<bean id="dimensionFilterControlService" class="com.cvs.caremark.rebates.cash.service.impl.DimensionFilterControlServiceImpl">	
		<property name="dimensionFilterControlDAO" ref="dimensionFilterControlDAO"/>
	</bean>
	
	<bean id="extnClmService" class="com.cvs.caremark.rebates.cash.service.impl.ExtnClmServiceImpl">	
		<property name="extnClmDAO" ref="extnClmDAO"/>
		<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
		
		
	</bean>
	 
	<bean id="recnInvService" class="com.cvs.caremark.rebates.cash.service.impl.RecnInvServiceImpl">	
		<property name="recnInvDAO" ref="recnInvDAO"/>
	</bean>
	
	
	
	<bean id="recnDsptService" class="com.cvs.caremark.rebates.cash.service.impl.RecnDsptServiceImpl">	
		<property name="recnDsptDAO" ref="recnDsptDAO"/>
		<property name="inclExclRuleDAO" ref="inclExclRuleDAO"/>
		<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
		<property name="recnClmAsscDAO" ref="recnClmAsscDAO"/>
		<property name="recnHdrDAO" ref="recnHdrDAO"/>
		<property name="extnClmWrkDAO" ref="extnClmWrkDAO"/>
	</bean>
	
	<bean id="recnVarReasService" class="com.cvs.caremark.rebates.cash.service.impl.RecnVarReasServiceImpl">	
		<property name="recnVarReasDAO" ref="recnVarReasDAO"/>
		<property name="inclExclRuleDAO" ref="inclExclRuleDAO"/>
		<property name="recnClmAsscDAO" ref="recnClmAsscDAO"/>
		<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
		<property name="extnClmWrkDAO" ref="extnClmWrkDAO"/>
		<property name="recnHdrDAO" ref="recnHdrDAO"/>		
	</bean>
	
	<bean id="recnDstrSummService" class="com.cvs.caremark.rebates.cash.service.impl.RecnDstrSummServiceImpl">
	<property name="recnDstrSummDAO" ref="recnDstrSummDAO"/>
	<property name="colMtchSpecDAO" ref="colMtchSpecDAO"/>
	
	</bean>
	
	
	<bean id="recnClmAsscService" class="com.cvs.caremark.rebates.cash.service.impl.RecnClmAsscServiceImpl">
	<property name="recnClmAsscDAO" ref="recnClmAsscDAO"/>
	</bean>
	
	
	<bean id="recnDstrReasAsscService" class="com.cvs.caremark.rebates.cash.service.impl.RecnDstrReasAsscServiceImpl">
	<property name="recnDstrReasAsscDAO" ref="recnDstrReasAsscDAO"/>
	</bean>
	
	<!-- ITPR001971- BI Re-engineering  -->
	<bean id="userService" class="com.cvs.caremark.rebates.cash.service.impl.UserServiceImpl" >	
		<property name="userDAO" ref="userDAO"/>
		<property name="userVendorEntityDAO" ref="userVendorEntityDAO"/>
	</bean>
	
	<bean id="userVendorEntityService" class="com.cvs.caremark.rebates.cash.service.impl.UserVendorEntityServiceImpl" >	
		<property name="userVendorEntityDAO" ref="userVendorEntityDAO"/>
	</bean>
	
<!--<bean id="authorizationBean"
		class="com.cvs.caremark.rebates.cash.web.controller.AuthorizationBean"
		scope="session">
		<property name="navigationBean" ref="navigationBean" />
		<property name="userService" ref="userService" />
		<property name="selectedIncludePathUnauthorised">
			<value>/secure/content/splashUnauthorised.xhtml</value>
		</property>
		<property name="selectedAuthorizedTemplate">
			<value>page-template.xhtml</value>
		</property>
		<property name="selectedUnAuthorizedTemplate">
			<value>unauthorized-page-template.xhtml</value>
		</property>
	</bean>
-->
	<!-- BEGIN navigation bean. ALL xhtml pages should be referenced here.  This enables breadcrumb functionality. -->
	<bean id="navigationBean" class="com.cvs.caremark.rebates.web.controller.NavigationBean" scope="session" >
	 	<property name="appDisplayName"><value>GDX Cash</value></property>
	 	<property name="selectedIncludePath"><value>/secure/content/splash.xhtml</value></property>
		<property name="homeLink">			
			<bean class="com.cvs.caremark.rebates.web.helper.Link">
				<property name="pageId"><value>home</value></property>
				<property name="contentUrl"><value>/secure/content/splash.xhtml</value></property>
				<property name="rootMenu"><value>home</value></property>
				<property name="linkDisplay"><value>Home</value></property>	                                     
			</bean>	
		</property>
		<property name="linkMap">
	        <map>	       
	        	<!--  At this point, all apps should have an error screen and a 'home' screen -->    
	            <entry key="error">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	             		<property name="pageId"><value>error</value></property>
						<property name="contentUrl"><value>/non_secure/content/error_content.xhtml</value></property>
						<property name="rootMenu"><value></value></property>
						<property name="linkDisplay"><value>Error</value></property>
	                                     
					</bean>
	   			</entry>
	            <entry key="home">
	                <bean class="com.cvs.caremark.rebates.web.helper.Link">
	                 	<property name="pageId"><value>home</value></property>
						<property name="contentUrl"><value>/secure/content/splash.xhtml</value></property>
						<property name="rootMenu"><value>home</value></property>
						<property name="linkDisplay"><value>Home</value></property>	                                    
					</bean>
	            </entry>
  	            <entry key="rbat_mfg_pmt_search">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>paymentsSearch</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_mfg_pmt_search_content.xhtml</value></property>
			    		<property name="rootMenu"><value>paymentsSearch</value></property>
			    		<property name="linkDisplay"><value>Manufacturer Payment Search</value></property>
			    	</bean>
			    </entry>
	            <entry key="rbat_mfg_hdr_inv_search">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>invoice</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_mfg_hdr_inv_search_content.xhtml</value></property>
			    		<property name="rootMenu"><value>invoice</value></property>
			    		<property name="linkDisplay"><value>Manufacturer Invoices</value></property>
			    	</bean>
			    </entry>			    
			    <entry key="rbat_mfg_pmt">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>paymentsView</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_mfg_pmt_content.xhtml</value></property>
			    		<property name="rootMenu"><value>paymentsSearch</value></property>
			    		<property name="linkDisplay"><value>Manufacturer Payment</value></property>
			    	</bean>
			    </entry>	
			    <entry key="rbat_mfg_pmt_appl">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>paymentsApplication</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_mfg_pmt_appl_content.xhtml</value></property>
			    		<property name="rootMenu"><value>paymentsSearch</value></property>
			    		<property name="linkDisplay"><value>Manufacturer Payment Application</value></property>
			    	</bean>
			    </entry>
			    <entry key="rbat_gl_txn_rqst_search">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>sapTxn</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_gl_txn_rqst_search_content.xhtml</value></property>
			    		<property name="rootMenu"><value>sapTxn</value></property>
			    		<property name="linkDisplay"><value>SAP Transaction Search</value></property>
			    	</bean>
			    </entry>
			    <entry key="rbat_gl_pend_txn_rqst_search">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>gdxTxn</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_gl_pend_txn_rqst_search_content.xhtml</value></property>
			    		<property name="rootMenu"><value>gdxTxn</value></property>
			    		<property name="linkDisplay"><value>GDX Transaction Search</value></property>
			    	</bean>
			    </entry>
			    <entry key="rbat_gl_txn_rqst_dtl">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>offsetTransferHome</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_gl_txn_rqst_dtl_content.xhtml</value></property>
			    		<property name="rootMenu"><value>offsetTransferHome</value></property>
			    		<property name="linkDisplay"><value>Offset/Transfer</value></property>
			    	</bean>
			    </entry>
			    <entry key="rbat_gl_txn_rqst_dtl_gdxTxn">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>offsetTransferGDX</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_gl_txn_rqst_dtl_content.xhtml</value></property>
			    		<property name="rootMenu"><value>gdxTxn</value></property>
			    		<property name="linkDisplay"><value>Offset/Transfer</value></property>
			    	</bean>
			    </entry>
			    <entry key="rbat_gl_txn_rqst_dtl_sapTxn">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>offsetTransferSAP</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_gl_txn_rqst_dtl_content.xhtml</value></property>
			    		<property name="rootMenu"><value>sapTxn</value></property>
			    		<property name="linkDisplay"><value>Offset/Transfer</value></property>
			    	</bean>
			    </entry>
			    
			    <entry key="rbat_mfg_inv_dtl">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>invoice</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_mfg_inv_dtl.xhtml</value></property>
			    		<property name="rootMenu"><value>invoice</value></property>
			    		<property name="linkDisplay"><value>Invoice Detail</value></property>
			    	</bean>
			    </entry>
			    <entry key="rbat_recon_search">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>reconciliation</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_recon_search_content.xhtml</value></property>
			    		<property name="rootMenu"><value>reconciliation</value></property>
			    		<property name="linkDisplay"><value>Reconciliation Search</value></property>
			    	</bean>
			    </entry>
			    <entry key="scrub_content">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>reconciliation</value></property>
			    		<property name="contentUrl"><value>/secure/content/scrub_content.xhtml</value></property>
			    		<property name="rootMenu"><value>reconciliation</value></property>
			    		<property name="linkDisplay"><value>Invoice Test</value></property>
			    	</bean>
			    </entry>
			    <entry key="scrub">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>reconciliation</value></property>
			    		<property name="contentUrl"><value>/secure/content/scrub.xhtml</value></property>
			    		<property name="rootMenu"><value>reconciliation</value></property>
			    		<property name="linkDisplay"><value>Scrub</value></property>
			    	</bean>
			    </entry>

			    <entry key="process_control">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>process</value></property>
			    		<property name="contentUrl"><value>/secure/content/process-control.xhtml</value></property>
			    		<property name="rootMenu"><value>process</value></property>
			    		<property name="linkDisplay"><value>Process Control</value></property>
			    	</bean>
			    </entry>
			    
			    <entry key="process_control_detail">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>process</value></property>
			    		<property name="contentUrl"><value>/secure/content/process-detail.xhtml</value></property>
			    		<property name="rootMenu"><value>process</value></property>
			    		<property name="linkDisplay"><value>Process Control Detail</value></property>
			    	</bean>
			    </entry>
			    <entry key="rbat_recn_summary">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>reconciliation</value></property>
			    		<property name="contentUrl"><value>/secure/content/rbat_recn_summary_content.xhtml</value></property>
			    		<property name="rootMenu"><value>reconciliation</value></property>
			    		<property name="linkDisplay"><value>Reconciliation Summary</value></property>
			    	</bean>
			    </entry>
			    <entry key="match_content">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>reconciliation</value></property>
			    		<property name="contentUrl"><value>/secure/content/match_content.xhtml</value></property>
			    		<property name="rootMenu"><value>reconciliation</value></property>
			    		<property name="linkDisplay"><value>Invoice Test</value></property>
			    	</bean>
			    </entry>
			    <entry key="match">
			    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
			    		<property name="pageId"><value>reconciliation</value></property>
			    		<property name="contentUrl"><value>/secure/content/match.xhtml</value></property>
			    		<property name="rootMenu"><value>reconciliation</value></property>
			    		<property name="linkDisplay"><value>Match</value></property>
			    	</bean>
			    </entry>
			     <entry key="rbat_recn_compare">
				    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
				    		<property name="pageId"><value>reconciliation</value></property>
				    		<property name="contentUrl"><value>/secure/content/compare.xhtml</value></property>
				    		<property name="rootMenu"><value>reconciliation</value></property>
				    		<property name="linkDisplay"><value>Compare</value></property>
				    	</bean>
			    </entry>
			    
				<!-- ITPR001971 BI Re-engineering -->
 				<entry key="search_user">
					<bean
						class="com.cvs.caremark.rebates.web.helper.Link">
						<property name="pageId">
							<value>searchUser</value>
						</property>
						<property name="contentUrl">
							<value>/secure/content/searchUser.xhtml</value>
						</property>
						<property name="rootMenu">
							<value>searchUser</value>
						</property>
						<property name="linkDisplay">
							<value>Search User</value>
						</property>
					</bean>
				</entry>
				
			
				<entry key="add_new_user">
					<bean
						class="com.cvs.caremark.rebates.web.helper.Link">
						<property name="pageId">
							<value>addNewUser</value>
						</property>
						<property name="contentUrl">
							<value>/secure/content/user.xhtml</value>
						</property>
						<property name="rootMenu">
							<value>addNewUser</value>
						</property>
						<property name="linkDisplay">
							<value>Add/Edit/View User</value>
						</property>
					</bean>
				</entry>
				
				
				<entry key="edit_user">
					<bean
						class="com.cvs.caremark.rebates.web.helper.Link">
						<property name="pageId">
							<value>searchUser</value>
						</property>
						<property name="contentUrl">
							<value>/secure/content/user.xhtml</value>
						</property>
						<property name="rootMenu">
							<value>searchUser</value>
						</property>
						<property name="linkDisplay">
							<value>Add/Edit/View User</value>
						</property>
						<property name="controllBean">
							<value>userBean</value>
						</property>
					</bean>
				</entry>
				
				<entry key="add_Edit_Vendor_Assoc">
				    	<bean class="com.cvs.caremark.rebates.web.helper.Link">
				    		<property name="pageId"><value>addEditVendorAssoc</value></property>
				    		<property name="contentUrl"><value>/secure/content/searchUserVendorEntity.xhtml</value></property>
				    		<property name="rootMenu"><value>addEditVendorAssoc</value></property>
				    		<property name="linkDisplay"><value>Vendor/Entity Association</value></property>
				    	</bean>
			     </entry>

	   		</map>
	   </property>	
	</bean>	
</beans>
