<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName">
         <!--    <value>org.hsqldb.jdbcDriver</value> -->
            <value>${jdbc.driver}</value>
        </property>
        <property name="url">
            <value>${JDBC_URL}</value>
        </property>
        <property name="username">
            <value>${jdbc.user}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
    </bean>
    <bean id="factory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="mappingResources">
            <list>               
                <value>com/caremark/controller/hibernate/ProcessControl.hbm.xml</value>
                <value>com/caremark/controller/hibernate/ProcessControlDetail.hbm.xml</value>
              <!--  <value>com/caremark/controller/hibernate/ProcessControlCode.hbm.xml</value>                                
	         <value>com/caremark/controller/hibernate/ProcessConfiguration.hbm.xml</value> -->
	     </list>
        </property>
        <property name="hibernateProperties">
            <props>            
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>                
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
            </props>
        </property>
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <bean id="processcontroldao" class="com.caremark.controller.dao.ProcessControlDAO">
    	<property name="sessionFactory">
    		<ref bean="factory"/>
    	</property>
    </bean>
    <bean id="processcontroldetaildao" class="com.caremark.controller.dao.ProcessControlDetailDAO">
    	<property name="sessionFactory">
    		<ref bean="factory"/>
    	</property>
    </bean>
    <!-- <bean id="processcontrolcodedao" class="com.caremark.controller.dao.ProcessControlCodeDAO">
    	<property name="sessionFactory">
    		<ref bean="factory"/>
    	</property>
    </bean> -->
    <bean name="processcontrolmanager" class="com.caremark.controller.manager.ProcessControlManagerImpl">
		<property name="processcontroldao" ref="processcontroldao"></property>
	</bean>
	<bean name="processcontroldetailmanager" class="com.caremark.controller.manager.ProcessControlDetailManagerImpl">
		<property name="processControlDetailDao" ref="processcontroldetaildao"></property>
	</bean>
	<!-- <bean name="processcontrolcodemanager" class="com.caremark.controller.manager.ProcessControlCodeManagerImpl">
		<property name="processControlCodeDao" ref="processcontrolcodedao"></property>
	</bean> -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<constructor-arg><ref bean="factory"/></constructor-arg>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="factory" />
		<property name="nestedTransactionAllowed">
		    <value>true</value>
		</property>
	</bean>
	<bean id="processControlTxManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="target" ref="processcontrolmanager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="findAll">PROPAGATION_REQUIRED</prop>
				<prop key="findByKey">PROPAGATION_REQUIRED</prop>
				<prop key="saveOrUpdate">PROPAGATION_REQUIRED</prop>
				<prop key="delete">PROPAGATION_REQUIRED</prop>
				<prop key="find">PROPAGATION_REQUIRED</prop>				
			</props>
		</property>
	</bean>
	<bean id="javaProcess" class="com.caremark.controller.process.RciJavaProcess">		
  		<property name="messageSource" ref="propertiesBean"></property>
	</bean>
	<bean id="unixProcess" class="com.caremark.controller.process.RciUnixProcess">
		<property name="messageSource" ref="propertiesBean"></property>
	</bean>
	<bean id="infomaticaProcess" class="com.caremark.controller.process.RciInformaticaProcess">
		<property name="messageSource" ref="propertiesBean"></property>
	</bean>	
	<bean id="rciProcessFactory" class="com.caremark.controller.process.RCIProcessFactory">
		<property name="rciJavaProcess" ref="javaProcess"></property>
		<property name="rciUnixProcess" ref="unixProcess"></property>
		<property name="rciInformaticaProcess" ref="infomaticaProcess"></property>
	</bean>
	<bean id="rciProcessManager" class="com.caremark.controller.manager.RciProcessManagerImpl">
		<property name="rciProcessFactory" ref="rciProcessFactory"></property>
	</bean>
	<bean id="processcontroller" class="com.caremark.controller.process.ProcessController">
		<property name="processControlManager" ref="processcontrolmanager"></property>
		<property name="rciProcessManager" ref="rciProcessManager"></property>
		<!-- <property name="processControlCodeManager" ref="processcontrolcodemanager"></property> -->		
		<property name="processControlDetailManager" ref="processcontroldetailmanager"></property>
	</bean>
	<bean id="properties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:/${CONFIG_DIR}/processcontroller.properties</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true"/>
		<property name="ignoreUnresolvablePlaceholders" value="false"/>
		<property name="searchSystemEnvironment" value="true"/>
	</bean>
	<bean id="propertiesBean" class="com.caremark.controller.utils.PropertiesBean">
		<property name="rciJarHome" value="${RCI_LIB_HOME}"></property>
		<property name="scriptDir" value="${RCI_SCRIPT_DIR}"></property>
		<property name="runPmcmdScript" value="${PMCMD_SCRIPT}"></property>
	</bean>
	
	<bean id="log4jDirectConfigurer" class="com.caremark.controller.utils.Log4jConfigurator">
		<property name="location">
			<value>file:/${CONFIG_DIR}/log4j.xml</value>
		</property>
		<property name="refreshInterval" value="0"></property>
	</bean>		
	<!--<bean id="txProxyTemplate" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="saveOrUpdate">PROPAGATION_REQUIRED</prop>
				<prop key="saveStatus">PROPAGATION_REQUIRED</prop>
			</props>
		</property>		
	</bean>	
	<bean id="pcmanager" parent="txProxyTemplate">
		<property name="target" ref="processcontrolmanager"></property>
	</bean>
--></beans>