<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern" value="%t %d{hh:mm:ss} %c %M %p line %L -%m%n"/>
	    </layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">				
		<param name="File" value="${log.dir}/processcontroller.log"/>
		<param name = "DatePattern" value=".yyyy-MM-dd "/>
		<param name="Append" value="true"/>	
		<layout class="org.apache.log4j.PatternLayout">
        		<param name="ConversionPattern" value="%d{ISO8601},%t,%-5p, %c{2} - %m%n"/>
	       </layout>
	</appender>
	<!--<appender name="FILE" class="org.apache.log4j.RollingFileAppender">           
     	<param name="File" value="C:\logs\output.log"/>              
       	<param name="MaxFileSize" value="1MB"/>              
        <param name="MaxBackupIndex" value="100"/>              
        <layout class="org.apache.log4j.PatternLayout">           
            <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />  
        </layout> 
	</appender> -->
	<appender name="EMAIL"  class="org.apache.log4j.net.SMTPAppender">
	    <param name="BufferSize" value="512" />
     	<param name="SMTPHost" value="${smtp.host}" />
	    	<param name="From" value="${from.mail}" />
     		<param name="To" value="${to.mail}" />
	    	<param name="Subject" value="${mail.subject}" />
    	<layout class="org.apache.log4j.PatternLayout">
           <param name="ConversionPattern" value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>     
	<logger name="com.caremark.controller" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="FILE"/>
      <appender-ref ref="EMAIL"/>
  	</logger>  
  	<root>
    	<priority value="WARN"/>
	    <appender-ref ref="FILE" />
  	</root>
</log4j:configuration>